<!DOCTYPE html>
<html>
<head lang="en">
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/cah.css">
    <script src="/static/jquery-2.1.3.min.js"></script>
    <script src="/static/jquery.event.move.js"></script>
    <script src="/static/jquery.event.swipe.js"></script>
    <script src="/static/unslider.js"></script>

    <title>{% block title %}Cards Against Online{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
