{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/client.js"></script>
{% endblock %}
{% block body %}
<div id="main-wrapper">
    <div class="main-bar"><p>Cards Against Online</p></div>
    <div class="center">
        <h2 id="join_header" class="ui_header"></h2>
        <div class="game_area">
        <h2 id="current_czar_header"></h2>
        <h3 id="hand_header">Your Hand:</h3>
            <ul class="hand_area game-screen-card-container"></ul>
      </div>
    </div>
</div>
{% endblock %}
