<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/cah.css">
    <title>Cards Against Online - Welcome</title>
</head>
<body>
<div class="main-bar"><p>Cards Against Online</p></div>
<div class="main-screen-card-container">
    <div class="black card main-screen-card-black">What did I code instead of writing an original game?</div>
    <div class="white card main-screen-card-white">Cards Against Online</div>
</div>
</body>
</html>