{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/login-page.js"></script>
{% endblock %}
{% block title %}Cards Against Online - Welcome{% endblock %}
{% block body %}
<div class="main-bar"><p>Cards Against Online</p></div>
<div class="main-screen-card-container">
    <div class="black card main-screen-card-black">What did I code instead of writing an original game?</div>
    <div class="white card main-screen-card-white">Cards Against Online</div>
</div>
<div class="login-area" align="center">
    <form id="login-form" action="/action" method="POST">
        <p>
            <input placeholder="Enter your name" name="username" class="input-field" id="username-input" type="text" data-bind="username"/>
        </p>
        <p>
            <button type=submit id="login-button" value="login" class="button">JOIN</button>
            <button type=submit id="host-button" value="login" class="button">HOST</button>
        </p>

    </form>
</div>
{% endblock %}